main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border: 4px solid black;
    border-radius: 8px;
}

body{
    background-color: #b5e3de;
    font-family: DotGothic16;
    font-size: 16px;
}

header{
    text-align: center;
}

#form{
    flex: 1;
    min-width: 300px;
}

#containerForPic{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 4px solid black;
    position: relative;
}

#containerForPic img{
    position: relative;
    top: 60px;
    left: 135px;
    transform: scale(1.5);
}

/* glenda added */
input[type="text"]{
    border: 1px solid black;
    border-radius: 4px;
}

/* glenda added */
input, select{
    padding: 10px;
}


input[type="text"]:focus{
    border: 1px solid #D6D9DC;

    outline: dashed gray;
    box-shadow: 0 4px 8px 0 rgba(0, 199, 63, 0.8);
}

#submit{
    display: block;
    margin: 0px auto 0 auto;
    padding: 12px 12px;
}

#output, #professorPicture{
    background: white;
    padding: 12px;
    border-radius: 8px;
    line-height: 1.6;
}

.user-word{
    color: blue;
    font-weight: bold;
}

.hidden{
    display: none;
}


/* oh my god this is gonna take forever */

label {
    width: 150px;
    text-align: right;
    margin-right: 16px; 
}

form div {
    display: inline-flex;
    align-items: center;
    margin-bottom: 12px;
}

form div input, form div select{
    flex: 1;
    max-width: 400px;
    padding: 8px;
}

#nameStack, #adjStack, #townStack, #starterStack, 
#exclamationStack, #moveStack, #rivalStack {
    justify-content: center; 
    width: 100%;
}

#form input, #form select {
    flex: none; 
    width: 250px; 
}
